#myPagePt{
    width: 100%;
    .container{
        width: 100%;
        max-width: 1136px;
        margin: 0 auto;
        .gap{
            width: 100%;
            padding: 30px 0;
            display: flex;
            .left{
                width: 290px;
                .profile{
                    width: 100%;
                    border: 1px solid #dadce0;
                    border-radius: 4px;
                    padding: 30px 25px 18px 25px;
                    .up-box{
                        border-bottom: 1px solid #eaebef;
                        .img-box{
                            display: flex;
                            justify-content: center;
                            width : 118px;
                            height: 118px;
                            margin: 0 auto;
                            img{
                                border-radius: 50%;
                                width: 120px;
                            }
                        }
                        h2{
                            font-size: 26px;
                            color: #292929;
                            font-weight: bold;
                            text-align: center;
                            padding: 15px 0 10px 0;
                        }
                        >ul{
                            display: flex;
                            justify-content: center;
                            li{
                                color: #828c94;
                                font-size: 13px;
                                >span{
                                    color: #525b61;
                                    font-weight: 600;
                                }
                            }
                            i{
                                font-size: 5px;
                                font-weight: 300;
                                margin: 0 5px;
                            }
                        }
                        .btn{
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            padding: 15px 0 ;
                            button{
                                width: 53px;
                                height: 30px;
                                background: #fff;
                                color: #292929;
                                border: 1px solid #dbdbdb;
                                font-size: 12px;
                                border-radius: 4px;
                                transition: all 0.3s;
                                cursor: pointer;
                                &:hover{
                                    background: #fafafa;
                                }
                            }
                        }
                    }
                    .down-box{
                        display: flex;                      
                        justify-content: space-evenly;
                        padding: 24px 0 6px 0;
                        >li{
                            position: relative;
                            z-index: 1;
                            display: flex;
                            flex-flow: column wrap;
                            align-items: center;
                            cursor: pointer;
                            svg{
                                width: 28px;
                                height: 28px;
                                color: #424242;
                                
                            }
                            h3{
                                font-size: 13px;
                                color: #424242;
                                font-weight: 400;
                                padding: 10px 0;
                            }
                            h4{
                                font-size: 15px;
                                font-weight: bold;
                                color: #424242;
                                text-align: center;
                            }
                            &::before{
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                z-index: 2;
                                content: '';
                                top: 0;
                                left:0;
                                transition: all 0.3s;                       
                            }
                            &:hover:before{
                                background-color:rgba(255,255,255,0.6) ;
                            }
                        }
                    }
                }
                >button{
                    width: 100%;
                    height: 50px;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #effbff;
                    border: 0;
                    color: #3f474d;
                    border-radius: 4px;
                    cursor: pointer;
                    margin: 14px 0 0 0;
                    transition: all 0.3s;
                    &:hover{
                        background: #e1f7ff;
                    }
                    >span{
                        color: #35c5f0;
                        font-weight: 600;
                        padding: 0 0 0 4px;
    
                    }
                    svg{
                        margin: 0 0 0 5px;
                    }
                }
            }
            .right{
                width: 750px;
                margin: 0 25px 0 100px;
                .txt-box{
                   width: 100%;
                    .no-res{
                        font-size: 15px;
                        color: #757575;
                        text-align: center;
                        letter-spacing: -0.4px;
                        font-weight: 500;
                    }
                    .is-post{
                        width: 100%;
                        display: flex;
                        flex-flow: row wrap;
                        >li{
                            width: 30%;
                            height: 364px;
                            margin: 0 3% 40px 0;
                          
                            .writer-box{
                                width: 100%;
                                position: relative;
                                cursor: pointer;
                                >img{
                                    width: 36px;
                                    height: 36px;
                                    border-radius: 100%;
                                }
                                >span{
                                    font-size: 15px;
                                    color: #424242;
                                    font-weight: 600;
                                    padding: 0 0 0 5px;
                                }
                                &::before{
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    z-index: 2;
                                    content: '';
                                    top: 0;
                                    left:0;
                                    transition: all 0.2s;                         
                                }
                                &:hover:before{
                                    background-color:rgba(255,255,255,0.5) ;
                                }

                            }
                            .pt-box{
                                margin: 15px 0;
                                >a{
                                    width: 100%;
                                    display: block;
                                    overflow: hidden;
                                    border-radius: 6px;
                                    >img{
                                        width: 100%;
                                        height: 236px;                                  
                                        transition: all 0.3s;
                                        &:hover{
                                            scale: 1.05;
                                        }
                                    }
                                }
                            }
                            .ico-box{
                                width: 100%;
                                padding: 0 0 20px 0;
                                .ico{
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-around;
                             
                                    >li{
                                        cursor: pointer;
                                        position: relative;
                                        z-index: 1;
                                        .icon{
                                            width: 100%;
                                            &.stroke{
                                                stroke:#626262;
                                                fill:#fff;
                                            }
                                        }
                                        &::before{
                                            position: absolute;
                                            width: 100%;
                                            height: 100%;
                                            z-index: 2;
                                            content: '';
                                            top: 0;
                                            left:0;
                                            transition: all 0.2s;                       
                                        }
                                        &:hover:before{
                                            background-color:rgba(255,255,255,0.5) ;
                                        }
                                    }
         

                                }
                            }
                            .memo-box{
                                color: #555;
                                font-size: 14px;
                                font-weight: 600;
                                transition: all 0.2s;
                                cursor: pointer;
                                &:hover{
                                    color: rgba(66, 66, 66,0.3);
                                }
 
                            }
                        }
                    }
                }
            }
        }
    }
}