#wrap {
  width: 100%;
}
#wrap #changePw {
  width: 100%;
}
#wrap #changePw .container {
  width: 100%;
  max-width: 480px;
  margin: 50px auto;
  padding: 40px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
#wrap #changePw .container .gap {
  width: 100%;
}
#wrap #changePw .container .gap .title {
  width: 100%;
}
#wrap #changePw .container .gap .title h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 15px 0;
}
#wrap #changePw .container .gap .content {
  width: 100%;
  color: #292929;
}
#wrap #changePw .container .gap .content form div label {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin: 0 0 5px 0;
  line-height: 22.5px;
}
#wrap #changePw .container .gap .content form div .ex {
  font-size: 15px;
  line-height: 22.5px;
}
#wrap #changePw .container .gap .content form div input {
  width: 100%;
  height: 40px;
  margin: 20px 0;
  font-size: 15px;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  padding: 0 15px;
  line-height: 40px;
  color: #424242;
}
#wrap #changePw .container .gap .content form div .error-msg {
  display: none;
  margin: 0 0 10px 0;
}
#wrap #changePw .container .gap .content form div .error-msg.on {
  display: block;
}
#wrap #changePw .container .gap .content form div .error-msg svg {
  display: inline;
  margin: 0 5px 0 0;
}
#wrap #changePw .container .gap .content form div .error-msg p {
  display: inline;
  margin: 0 0 20px 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  color: #f77;
}
#wrap #changePw .container .gap .content form button {
  width: 100%;
  height: 50px;
  border: 0;
  border-radius: 6px;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  padding: 11px 10px;
  background-color: #35c5f0;
  cursor: pointer;
}