@charset "UTF-8";
#wrap {
  width: 100%;
}
#wrap #nav {
  z-index: 4;
  position: relative;
  width: 100%;
  height: 130px;
  padding: 81px 0 0 0;
  border-bottom: 1px solid #eaedef;
}
#wrap #nav > .container {
  width: 100%;
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 60px;
}
#wrap #nav > .container .gap {
  width: 100%;
}
#wrap #nav > .container .gap .row2 {
  width: 100%;
  height: 51px;
}
#wrap #nav > .container .gap .row2 .headbox2 {
  width: 100%;
}
#wrap #nav > .container .gap .row2 .headbox2 ul {
  width: 100%;
  display: flex;
}
#wrap #nav > .container .gap .row2 .headbox2 ul li {
  padding: 12px 10px;
}
#wrap #nav > .container .gap .row2 .headbox2 ul li a {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #2f3438;
  letter-spacing: -1px;
}
#wrap #nav > .container .gap .row2 .headbox2 ul li a:hover {
  color: #00bbff;
}
#wrap #nav > .container .gap .row2 #rank-list {
  width: 100%;
  max-width: 191px;
  height: 30px;
  float: right;
  position: absolute;
  right: 0;
  top: 100px;
  left: 1265px;
}
#wrap #nav > .container .gap .row2 #rank-list dd {
  width: 100%;
}
#wrap #nav > .container .gap .row2 #rank-list dd .slide {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 20px; /* 슬라이드 컨테이너의 높이에 맞게 조정 */
  overflow: hidden;
}
#wrap #nav > .container .gap .row2 #rank-list dd .slide .slide-item {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(-10%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
#wrap #nav > .container .gap .row2 #rank-list dd .slide li.active {
  width: 100%;
  display: block;
  margin-right: 10px;
  font-size: 15px;
  letter-spacing: -0.4px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
#wrap #nav > .container .gap .row2 #rank-list .slide-item.active {
  opacity: 1;
  transform: translateY(0);
}
#wrap #nav > .container .gap .row2 #rank-list.slide dd {
  display: block;
}