@import url("../css/sign_up.css");
@import url("../css/my_page_all.css");
@import url("../css/my_page_pt.css");
@import url("../css/upload_pt.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: middle;
  font-family: "Noto Sans KR";
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.hide {
  display: hidden;
}