#uploadPt {
  width: 100%;
}
#uploadPt #section1 {
  width: 100%;
}
#uploadPt #section1 .container {
  width: 100%;
  max-width: 1256px;
  margin: 0 auto;
}
#uploadPt #section1 .container .gap {
  width: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#uploadPt #section1 .container .gap a {
  display: block;
  padding: 24px 0 23px 30px;
}
#uploadPt #section1 .container .gap button {
  width: 134.17px;
  padding: 11px 0 12px 0;
  background: #35c5f0;
  border: 0;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}
#uploadPt #section2 {
  width: 100%;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
#uploadPt #section2 .container {
  width: 100%;
  max-width: 1256px;
  margin: 0 auto;
}
#uploadPt #section2 .container .gap {
  width: 100%;
  padding: 0 60px;
}
#uploadPt #section2 .container .gap ul {
  display: flex;
}
#uploadPt #section2 .container .gap ul li {
  margin: 0 15px 0 0;
}
#uploadPt #section2 .container .gap ul li a {
  font-size: 15px;
  display: block;
  padding: 13px 5px 14px 5px;
  color: #424242;
  font-weight: bold;
}
#uploadPt #section2 .container .gap ul li a:hover {
  color: #35c5f0;
}
#uploadPt #section2 .container .gap ul li a.on {
  color: #35c5f0;
  border-bottom: 2px solid #35c5f0;
}
#uploadPt #section3 {
  width: 100%;
}
#uploadPt #section3 .container {
  width: 100%;
  max-width: 1003px;
  margin: 30px auto 0 auto;
}
#uploadPt #section3 .container .gap {
  padding: 0 30px;
}
#uploadPt #section3 .container .gap .btn-box {
  display: flex;
  padding: 0 0 50px 0;
}
#uploadPt #section3 .container .gap .btn-box .select {
  position: relative;
}
#uploadPt #section3 .container .gap .btn-box .select select {
  height: 40px;
  margin: 0 10px 0 0;
  padding: 0 30px 0 15px;
  border: 1px solid #dbdbdb;
  font-size: 15px;
  border-radius: 4px;
  color: #424242;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
#uploadPt #section3 .container .gap .btn-box .select select option {
  color: #424242;
}
#uploadPt #section3 .container .gap .btn-box .select select option:first-child {
  color: #bdbdbd;
}
#uploadPt #section3 .container .gap .btn-box .select svg {
  position: absolute;
  top: 15px;
  right: 30px;
}
#uploadPt #section3 .container .gap .bottom {
  display: flex;
}
#uploadPt #section3 .container .gap .bottom .left {
  width: 50%;
}
#uploadPt #section3 .container .gap .bottom .left .imsi-box {
  height: 275px;
  margin: 0 30px 0 0;
  border: 1px dashed #dadce0;
}
#uploadPt #section3 .container .gap .bottom .right {
  width: 50%;
}
#uploadPt #section3 .container .gap .bottom .right > ul > li {
  padding: 0 0 15px 0;
  position: relative;
}
#uploadPt #section3 .container .gap .bottom .right > ul > li > select {
  width: 100%;
  height: 40px;
  font-size: 15px;
  border: 1px solid #dbdbdb;
  padding: 0 15px;
  border-radius: 4px;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
#uploadPt #section3 .container .gap .bottom .right > ul > li > svg {
  position: absolute;
  top: 10px;
  right: 0;
}
#uploadPt #section3 .container .gap .bottom .right > ul > li textarea {
  width: 100%;
  height: 145px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #dbdbdb;
  padding: 10px 15px 10px 15px;
  border-radius: 4px;
  color: #000;
  font-size: 15px;
  outline: 3px solid transparent;
  resize: vertical;
}
#uploadPt #section3 .container .gap .bottom .right > ul > li textarea:focus {
  outline: 3px solid rgba(53, 197, 240, 0.3);
}
#uploadPt #section3 .container .gap .bottom .right > ul > li textarea::-moz-placeholder {
  color: #dbdbdb;
}
#uploadPt #section3 .container .gap .bottom .right > ul > li textarea::placeholder {
  color: #dbdbdb;
}
#uploadPt #section3 .container .gap .bottom .right > ul > li textarea::-webkit-scrollbar {
  display: none;
}