#UploadHouse {
  width: 100%;
  font-family: "Noto Sans KR";
}
#UploadHouse .row1 {
  width: 100%;
}
#UploadHouse .row1 .container {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 0 60px;
}
#UploadHouse .row1 .container .gap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#UploadHouse .row1 .container .gap a {
  display: block;
  padding: 24px 0 23px 0;
}
#UploadHouse .row1 .container .gap button {
  width: 134.17px;
  padding: 11px 0 12px 0;
  background: #35c5f0;
  border: 0;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}
#UploadHouse .guide {
  width: 100%;
  max-width: 720px;
  margin: 100px auto 0 auto;
  border: 1px solid #dadce0;
  box-shadow: rgba(234, 235, 239, 0.8) 0px 2px 4px 0px;
  border-radius: 4px;
}
#UploadHouse .guide .guide-btn {
  width: 100%;
  height: 76px;
  background: #fff;
  padding: 0 30px;
  border: 0;
  display: flex;
  align-items: center;
}
#UploadHouse .guide .guide-btn:hover {
  background: #f7f8fa;
}
#UploadHouse .guide .guide-btn > b {
  color: #3f474d;
  font-size: 15px;
  font-weight: 600;
  padding: 0 5px 0 12px;
}
#UploadHouse .guide .guide-btn > p {
  color: #a4acb3;
  font-size: 13px;
  padding: 0 0 1px 0;
}
#UploadHouse .guide .guide-btn .arrow {
  width: 35%;
  display: flex;
  justify-content: end;
}
#UploadHouse .guide .guide-btn .arrow .u9pb {
  transition: all 0.3s;
}
#UploadHouse .guide .guide-content {
  padding: 10px 30px 30px 30px;
}
#UploadHouse .guide .guide-content .one {
  list-style: disc;
  padding: 0 0 0 35px;
  color: #424242;
  font-size: 15px;
}
#UploadHouse .guide .guide-content .one .one-one {
  padding: 8px 0;
  line-height: 25px;
}
#UploadHouse .guide .guide-content .one .one-one b {
  font-weight: 600;
  vertical-align: top;
}
#UploadHouse .guide .guide-content .one .one-one .two {
  list-style: disc;
  padding: 0 0 0 25px;
}
#UploadHouse .guide .guide-content .one .one-one .two .two-two {
  padding: 6px 0 0 0;
}
#UploadHouse .guide .guide-content .one .one-one .two .two-two > a {
  color: #35c5f0;
  font-weight: 600;
  vertical-align: top;
}
#UploadHouse .guide-psjb {
  width: 100%;
  max-width: 720px;
  margin: 20px auto 0 auto;
  border: 1px solid #dadce0;
  box-shadow: rgba(234, 235, 239, 0.8) 0px 2px 4px 0px;
  border-radius: 4px;
}
#UploadHouse .guide-psjb .pajb-btn {
  width: 100%;
  height: 76px;
  background: #fff;
  padding: 0 30px;
  border: 0;
  display: flex;
  align-items: center;
}
#UploadHouse .guide-psjb .pajb-btn:hover {
  background: #f7f8fa;
}
#UploadHouse .guide-psjb .pajb-btn > .icon {
  width: auto;
}
#UploadHouse .guide-psjb .pajb-btn b {
  width: 130px;
  color: #3f474d;
  font-size: 15px;
  font-weight: 600;
  padding: 0 5px 0 12px;
}
#UploadHouse .guide-psjb .pajb-btn p {
  width: 441px;
  color: #a4acb3;
  font-size: 13px;
  padding: 0 0 1px 0;
  text-align: left;
}
#UploadHouse .guide-psjb .pajb-btn .arrow {
  width: 10%;
  display: flex;
  justify-content: end;
}
#UploadHouse .guide-psjb .pajb-btn .arrow .u9pb {
  transition: all 0.3s;
}
#UploadHouse .guide-psjb .psjb-content {
  width: 100%;
  padding: 0 30px;
}
#UploadHouse .guide-psjb .psjb-content .one {
  padding: 0;
  list-style: none;
}
#UploadHouse .guide-psjb .psjb-content .one li {
  width: 100%;
  line-height: 25px;
}
#UploadHouse .guide-psjb .psjb-content .one li .psjb-box {
  width: 100%;
  padding: 15px 0;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#UploadHouse .guide-psjb .psjb-content .one li .psjb-box .label {
  width: 130px;
  font-size: 15px;
  font-weight: 700;
}
#UploadHouse .guide-psjb .psjb-content .one li .psjb-box .label i {
  color: red;
  padding: 0 30px 0 0;
}
#UploadHouse .guide-psjb .psjb-content .one li .psjb-box .radio1 {
  display: inline-flex;
  padding: 0 20px 0 0;
}
#UploadHouse .guide-psjb .psjb-content .one li .psjb-box .radio1 input[type=radio] {
  width: 24px;
  height: 24px;
  margin: 0 10px 0 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #ccc;
  border-radius: 50%;
}
#UploadHouse .guide-psjb .psjb-content .one li .psjb-box .radio1 input[type=radio]:checked {
  border: 7px solid #35c5f0;
}
#UploadHouse .guide-psjb .psjb-content .one li .psjb-box .radio1 h3 {
  text-align: left;
  font-size: 14px;
  margin: 0;
}
#UploadHouse .guide-psjb .psjb-content .one li .psjb-box select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px 12px;
  border: 1px solid #dadada;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.2s ease-in-out;
  width: 220px;
  height: 40px;
}
#UploadHouse .guide-psjb .psjb-content .one li .psjb-box select:hover {
  border: 1px solid #35c5f0;
}
#UploadHouse .guide-psjb .psjb-content .one li .psjb-box input[type=text] {
  width: 220px;
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #dadada;
  border-radius: 4px;
  margin: 0 10px;
}
#UploadHouse .guide-psjb .psjb-content .one li .psjb-box input[type=text]:hover {
  border: 1px solid #35c5f0;
}
#UploadHouse form {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}
#UploadHouse form .photo-box {
  width: 100%;
  padding: 50px 0 60px 0;
}
#UploadHouse form .photo-box .input {
  width: 100%;
  height: 405px;
  position: relative;
}
#UploadHouse form .photo-box .input > input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#UploadHouse form .photo-box .input .img-upload {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 405px;
  border: 0;
  background: #f7f8fa;
}
#UploadHouse form .photo-box .input .img-upload .upload-box {
  text-align: center;
  margin: auto 0;
}
#UploadHouse form .photo-box .input .img-upload .upload-box > h5 {
  font-size: 16px;
  color: #2f3438;
  font-weight: 700;
  line-height: 20px;
}
#UploadHouse form .photo-box .input .img-upload .upload-box > p {
  color: #828c94;
  padding: 15px 0 30px 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
#UploadHouse form .photo-box .input .img-upload .upload-box .chooga-btn {
  width: 143px;
  height: 40px;
  letter-spacing: -1px;
  background: rgba(33, 38, 41, 0.8);
  border: 0;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
#UploadHouse form .photo-box .input .img-upload .upload-box .chooga-btn:hover {
  background: rgba(33, 38, 41, 0.4);
}
#UploadHouse form .photo-box .input .house-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#UploadHouse form .photo-box .input .house-box > img {
  width: auto;
  max-width: 100%;
  height: 100%;
}
#UploadHouse form .photo-box .input .house-box .re {
  position: absolute;
  bottom: 0px;
  right: -60px;
  background: #fff;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #ddd;
  transition: all 0.1s;
  cursor: pointer;
}
#UploadHouse form .photo-box .input .house-box .re:hover {
  background: #f7f9fa;
}
#UploadHouse form .photo-box .input .house-box .img_del {
  position: absolute;
  bottom: 60px;
  right: -60px;
  background: #fff;
  border: 0;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #ddd;
  transition: all 0.1s;
  cursor: pointer;
}
#UploadHouse form .photo-box .input .house-box .img_del:hover {
  background: #f7f9fa;
}
#UploadHouse form .write-box {
  width: 100%;
}
#UploadHouse form .write-box > ul {
  width: 100%;
}
#UploadHouse form .write-box > ul > li {
  width: 100%;
  position: relative;
}
#UploadHouse form .write-box > ul > li:first-child {
  border-bottom: 1px solid #ddd;
}
#UploadHouse form .write-box > ul > li > input {
  width: 100%;
  border: 0;
  padding: 15px 80px 15px 5px;
  font-size: 34px;
  line-height: 31px;
  font-weight: 600;
  outline: 0;
}
#UploadHouse form .write-box > ul > li > input::-moz-placeholder {
  color: #ddd;
}
#UploadHouse form .write-box > ul > li > input::placeholder {
  color: #ddd;
}
#UploadHouse form .write-box > ul > li > span {
  position: absolute;
  top: 24px;
  right: 10px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #828c94;
  font-size: 15px;
}
#UploadHouse form .write-box > ul > li > span > i {
  margin: 0 8px;
}
#UploadHouse form .write-box > ul > li .err {
  padding: 8px 0 0 0;
}
#UploadHouse form .write-box > ul > li .err p {
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: -0.5px;
  color: #ff7777;
}
#UploadHouse form .write-box > ul > li > textarea {
  width: 100%;
  height: 300px;
  margin: 40px 0;
  font-size: 18px;
  font-weight: 500;
  color: #292929;
  border: 0;
  outline: 0;
  resize: none;
}
#UploadHouse form .write-box > ul > li > textarea::-webkit-scrollbar {
  display: none;
}
#UploadHouse form .write-box > ul > li > textarea::-moz-placeholder {
  color: #ccc;
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 28px;
  font-weight: 600;
}
#UploadHouse form .write-box > ul > li > textarea::placeholder {
  color: #ccc;
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 28px;
  font-weight: 600;
}