#uploadVedio {
  width: 100%;
}
#uploadVedio .section1 {
  width: 100%;
}
#uploadVedio .section1 .container {
  width: 100%;
  max-width: 1256px;
  margin: 0 auto;
}
#uploadVedio .section1 .container .gap {
  width: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#uploadVedio .section1 .container .gap a {
  display: block;
  padding: 24px 0 23px 30px;
}
#uploadVedio .section1 .container .gap button {
  width: 134.17px;
  padding: 11px 0 12px 0;
  background: #35c5f0;
  border: 0;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}
#uploadVedio .section2 {
  width: 100%;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
#uploadVedio .section2 .container {
  width: 100%;
  max-width: 1256px;
  margin: 0 auto;
}
#uploadVedio .section2 .container .gap {
  width: 100%;
  padding: 0 60px;
}
#uploadVedio .section2 .container .gap ul {
  display: flex;
}
#uploadVedio .section2 .container .gap ul li {
  margin: 0 15px 0 0;
}
#uploadVedio .section2 .container .gap ul li a {
  font-size: 15px;
  display: block;
  padding: 13px 5px 14px 5px;
  color: #424242;
  font-weight: bold;
}
#uploadVedio .section2 .container .gap ul li a:hover {
  color: #35c5f0;
}
#uploadVedio .section2 .container .gap ul li a.on {
  color: #35c5f0;
  border-bottom: 2px solid #35c5f0;
}
#uploadVedio .section3 {
  width: 100%;
}
#uploadVedio .section3 .container {
  width: 100%;
  max-width: 1003px;
  margin: 30px auto 0 auto;
}
#uploadVedio .section3 .container .gap {
  padding: 0 30px;
}
#uploadVedio .section3 .container .gap .btn-box {
  display: flex;
  padding: 0 0 50px 0;
}
#uploadVedio .section3 .container .gap .btn-box .select {
  position: relative;
}
#uploadVedio .section3 .container .gap .btn-box .select select {
  height: 40px;
  margin: 0 10px 0 0;
  padding: 0 30px 0 15px;
  border: 1px solid #dbdbdb;
  font-size: 15px;
  border-radius: 4px;
  color: #424242;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
#uploadVedio .section3 .container .gap .btn-box .select select option {
  color: #424242;
}
#uploadVedio .section3 .container .gap .btn-box .select select option:first-child {
  color: #bdbdbd;
}
#uploadVedio .section3 .container .gap .btn-box .select svg {
  position: absolute;
  top: 15px;
  right: 30px;
}
#uploadVedio .section3 .container .gap .bottom {
  display: flex;
  position: relative;
}
#uploadVedio .section3 .container .gap .bottom .left {
  width: 50%;
  position: relative;
}
#uploadVedio .section3 .container .gap .bottom .left > .vedio-box {
  height: 275px;
  margin: 0 30px 0 0;
  border: 1px dashed #dadce0;
  color: #f7f8fa;
  border-radius: 8px;
  position: relative;
}
#uploadVedio .section3 .container .gap .bottom .left > .vedio-box .input {
  width: 100%;
  height: 275px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#uploadVedio .section3 .container .gap .bottom .left > .vedio-box .input:hover .ico svg {
  fill: rgba(130, 140, 148, 0.5);
}
#uploadVedio .section3 .container .gap .bottom .left > .vedio-box .input:hover .ico h5, #uploadVedio .section3 .container .gap .bottom .left > .vedio-box .input:hover .ico p {
  color: rgba(130, 140, 148, 0.5);
}
#uploadVedio .section3 .container .gap .bottom .left > .vedio-box .input > input {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
  display: none;
}
#uploadVedio .section3 .container .gap .bottom .left > .vedio-box .input .vedio-upload {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  cursor: pointer;
}
#uploadVedio .section3 .container .gap .bottom .left > .vedio-box .input .vedio-upload:hover {
  background: rgba(247, 248, 250, 0.8);
}
#uploadVedio .section3 .container .gap .bottom .left > .vedio-box .input .vedio-upload .ico {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
#uploadVedio .section3 .container .gap .bottom .left > .vedio-box .input .vedio-upload .ico svg {
  width: 100%;
  margin: 0 auto;
}
#uploadVedio .section3 .container .gap .bottom .left > .vedio-box .input .vedio-upload .ico h5 {
  color: #828c94;
  padding: 15px 0 5px 0;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -1.5px;
}
#uploadVedio .section3 .container .gap .bottom .left > .vedio-box .input .vedio-upload .ico p {
  font-size: 12px;
  color: #828c94;
  line-height: 20px;
  font-weight: 500;
}
#uploadVedio .section3 .container .gap .bottom .left > .vedio-box .input > div {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
#uploadVedio .section3 .container .gap .bottom .left > .vedio-box .input > div > video {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 4;
  border-radius: 8px;
  margin: 0 auto;
}
#uploadVedio .section3 .container .gap .bottom .left > .vedio-box .input > div .re-del {
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  display: flex;
  padding: 0 30px;
}
#uploadVedio .section3 .container .gap .bottom .left > .vedio-box .input > div .re-del .re {
  position: relative;
  background: transparent;
  border: 0;
  cursor: pointer;
  z-index: 5;
  margin: 0 15px 0 0;
}
#uploadVedio .section3 .container .gap .bottom .left > .vedio-box .input > div .re-del .img_del {
  position: relative;
  background: transparent;
  border: 0;
  cursor: pointer;
  z-index: 5;
}
#uploadVedio .section3 .container .gap .bottom .right {
  width: 50%;
}
#uploadVedio .section3 .container .gap .bottom .right > ul > li {
  padding: 0 0 15px 0;
  position: relative;
}
#uploadVedio .section3 .container .gap .bottom .right > ul > li > select {
  width: 100%;
  height: 40px;
  font-size: 15px;
  border: 1px solid #dbdbdb;
  padding: 0 15px;
  border-radius: 4px;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #424242;
}
#uploadVedio .section3 .container .gap .bottom .right > ul > li > svg {
  position: absolute;
  top: 15px;
  right: 10px;
}
#uploadVedio .section3 .container .gap .bottom .right > ul > li textarea {
  width: 100%;
  height: 145px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #dbdbdb;
  padding: 10px 15px 10px 15px;
  border-radius: 4px;
  color: #000;
  font-size: 15px;
  outline: 3px solid transparent;
  resize: vertical;
}
#uploadVedio .section3 .container .gap .bottom .right > ul > li textarea:focus {
  outline: 3px solid rgba(53, 197, 240, 0.3);
}
#uploadVedio .section3 .container .gap .bottom .right > ul > li textarea::-moz-placeholder {
  color: #bbb;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: -1px;
}
#uploadVedio .section3 .container .gap .bottom .right > ul > li textarea::placeholder {
  color: #bbb;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: -1px;
}
#uploadVedio .section3 .container .gap .bottom .right > ul > li textarea::-webkit-scrollbar {
  display: none;
}