$primary-color: #008489;
$hover-color: #00716a;
$border-color: #e0e0e0;

#wrap {
    width : 100%;
    #signin{
        padding: 200px 0;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        background-color: #fafafa;
        .ohouse-login-form {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
            // padding: 2rem;
            border: 0;
            >a{
                // color : #fff;
                padding: 0 0 30px 0;
                svg {
                    width: 100%;
                }
            }
            ul{
                width: 100%;
                padding: 35px 0 0 0;
                li{
                    width: 100%;
                    .form-group {
                        margin-bottom:-1px;
                        label {
                            font-size: 14px;
                        }
                        input{
                            font-size: 15px;
                            font-weight: 400;
                            font-family: 'Noto Sans KR';
                        }
                        input[type="text"]{
                            width: 100%;
                            max-width: 300px;
                            height: 50px;
                            padding: 0 0 0 0.8rem;
                            border: 1px solid $border-color;
                            border-radius: 4px;
                            margin-bottom: 0;
                            &::placeholder{
                                color : #ccc;
                            }
                        }
                        input[type="password"] {
                            width: 100%;
                            max-width: 300px;
                            height: 50px;
                            padding: 0.8rem;
                            border: 1px solid $border-color;
                            border-radius: 4px;
                            margin-bottom:0;
                            &::placeholder{
                                color : #ccc;
                            }
                        }
                    }
                    .set-up1{
                        padding: 15px 0;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content:center;
                        letter-spacing: -0.4;
                        h3{
                            font-size: 15px;
                            padding : 0 20px 0 0;
                        }
                        h4 {
                            font-size: 15px;
                        
                        }
                    }
                    .set-up2{
                        margin: 35px 0 10px 0;
                        >p{
                            font-size: 12px;
                            font-weight: 400;
                            text-align: center;
                        }
                    }
                    .sns{
                        padding: 10px 0 0 0;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        >a{
                            padding: 0 10px;
                            svg{
        
                            }
                        }
                    }
                    .login-pro{
                        padding: 24px 0 20px 0;
                        width: 100%;
                        text-align: center;
                        border-bottom: 1px solid #dbdbdb;
                        letter-spacing: -0.4px;
                        >a {
                            font-size:14px;
                            color:#c2c8cc;
                            line-height: 18px;
                        }
                        
                    }
                    .nomem-order {
                        padding: 30px 0 0 0;
                        width: 100%;
                        text-align: center;
                        >a{
                            font-size: 15px;
                        
                        }
                    }
                
                }
                .ohouse-login-form-button {
                    display: block;
                    width: 100%;
                    padding: 0.75rem;
                    background-color: #35c5f0;
                    color: #fff;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    margin-top: 20px;
                    font-size: 17px;
                    font-weight: 700;
                    a{
                        color : #fff;
                        font-weight: 700;
                    }
                }
            }
        }
    }


    // label {
    // padding: 0 0 5px 0 ;
    // font-weight: bold;
    // }

    

}