#wrap {
    width: 100%;
    #header {
        width:100%;
        height:80px;
        .container {
            width:100%;
            max-width: 1256px;
            padding: 0 60px;
            margin: 0 auto;
            .gap {
                width:100%;
                .row1 {
                    width:100%;
                    height:81px;
                    .headbox {
                        width:100%;
                        height:100%;
                        padding: 10px 0; 
                        display:flex;
                        align-items: center;
                        justify-content: space-between;
                        .left  {
                            >ul {
                                display:flex;
                                >li {
                                    display:flex;
                                    justify-content: center;
                                    align-items: center;
                                    padding : 21px 5px 15px 5px;
                                    margin: 0 10px;
                                    >a {
                                        font-size: 17px;
                                        color:#2f3438;
                                        font-weight: 800;
                                        line-height: 18px;
                                        letter-spacing: -1px;
                                        &:hover {
                                            color : #00bbff;
                                        }
                                        >img {
                                            height:30px;
                                            margin: 0 15px 0 0 ;
                                        } 
                                    }
                                }
                            }
                        }
                        .right {
                            ul {
                                display:flex;
                                li {
                                    display:flex;
                                    align-items: center;
                                    justify-content: center;
                                    padding: 21px 5px 15px 5px;
                                    margin: 0 10px;
                                    position: relative;
                                    a  {
                                       letter-spacing: -1px;
                                       font-size: 14px;
                                       line-height: 18px;
                                       color:#333;
                                    }
                                 
                                    .search {
                                        position: absolute;
                                        color:#828C94;
                                        top:25px;
                                        left:13px;
                                    }
                                    
                                    input {
                                        width:240px;
                                        height:40px;
                                        padding : 0 40px;
                                        border : 1px solid #dadde0;
                                        border-radius: 4px;
                                        color : #424242;
                                        font-size: 15px;

                                        &:hover {
                                            background-color: #f1f1f1;
                                        }
                                    }
                                    button {
                                        background-color: #35C5F0;
                                        cursor: pointer;
                                        width:94px;
                                        height:40px;
                                        color:#fff;
                                        border-radius: 4px;
                                        border:0px;
                                        position: relative;
                                        &:hover {
                                            transition: all 0.1s;
                                            opacity: 0.5;
                                        }
                                    }
                                    .sub1 {
                                        width: 202px;
                                        transform: translateY(70px);
                                        border: 1px solid #ccc;
                                        height: 312px;
                                        z-index: 5;
                                        position: absolute;
                                        top: 0;
                                        right: -80px;
                                        background: #fff;
                                        border-radius: 4px;
                                        ul {
                                            width: 184px;
                                            display: block;
                                            justify-content: center;
                                            text-align: left;
                                            height: 294.67px;
                                            
                                            li {
                                                width: 100%;
                                                display: block;
                                                justify-content: center;
                                                align-items: center;
                                                padding: 15px;
                                                &:hover {
                                                    text-align: center;
                                                    border: 1px;
                                                    background: #eee;
                                                    transition: all ease 0.5s;
                                                }

                                                h3 {
                                                    
                                                    font-size: 15px;
                                                    text-align: center;
                                                   
                                                }
                                            }
                                        }
                                    }
                                    .sub2 {
                                        transform: translateY(70px);
                                        border: 1px solid #ccc;
                                        width: 340.17px;
                                        height: 373px;
                                        z-index: 5;
                                        position: absolute;
                                        top: 0;
                                        right: -100px;
                                        background: #fff;
                                        border-radius: 4px;
                                        ul {
                                            width:100%;
                                            padding: 15px 0 18px 8px;
                                            li {
                                              width: 100%;
                                              height: 41px;
                                              display: flex;
                                              align-items: center;
                                              justify-content: space-between;
                                              &:hover {
                                                border: 1px;
                                                background: #eee;
                                                transition: all ease 0.5s;
                                                }
                                                a {
                                                    width: 100%;
                                                    cursor: pointer;
                                                    div {
                                                    float:left; 
                                                    width: 36px;
                                                    height: 36px;
                                                    padding: 0 45px 0 0;
                                                        img {
                                                            width: auto;
                                                        }
                                                    }
                                                    h2 {
                                                        letter-spacing: -0.4px;
                                                        font-size: 15px;
                                                        font-weight: 800;
                                                        text-align: left;
                                                        height: 21px;
                                                    }
                                                    h3 {
                                                        font-size: 12px;
                                                        text-align: left;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}