#wrap{
  #mypagenav{
    .top-nav{
      width : 100%;
      height : 60px;
      border-bottom: 1px solid #ededed;
      ul{
        display: flex;
        align-items: center;
        justify-content: center;
        width : 100%;
        text-align: center;
        li{
          position: relative;
          a{
            display: block;
            padding : 0 10px;
            font-weight: 700;
            font-size: 18px;
            height : 60px;
            line-height: 60px;
            color : inherit;
            &:hover{
              color : #35c5f0;
            }
            &.on{
              color : #35c5f0;
              // &::after{
              //   content: '';
              //   margin-top: -10px;
              //   display: block;
              //   position: absolute;
              //   top : 100%;
              //   left : 50%;
              //   width : 5px;
              //   height : 5px;
              //   margin-left: -5px;
              //   z-index: 1;
              //   // border: 1px solid #dbdbdb;
              //   border-style: solid;
              //   border-color: transparent transparent #dbdbdb;
              //   border-width: 0 5px 10px;
              // }
              // &::before{
              //   content: '';
              //   margin-top: -8px;
              //   display: block;
              //   position: absolute;
              //   top : 100%;
              //   left : 50%;
              //   width : 5px;
              //   height : 5px;
              //   margin-left: -5px;
              //   z-index: 1;
              //   // border: 1px solid #dbdbdb;
              //   border-style: solid;
              //   border-color: transparent transparent #dbdbdb;
              //   border-width: 0 5px 10px;
              // }
            }
          }
        }
      }
    }
    .bottom-nav{
      width : 100%;
      height : 60px;
      border-bottom: 1px solid #ededed;
      ul{
        display: flex;
        align-items: center;
        justify-content: center;
        width : 100%;
        text-align: center;
        li{
          position: relative;
          a{
            display: block;
            padding : 0 10px;
            font-weight: 700;
            font-size: 16px;
            height : 60px;
            line-height: 60px;
            color : inherit;
            &:hover{
              color : #35c5f0;
            }
            &.on{
              color : #35c5f0;
              &::after{
                content: '';
                position:absolute;
                display: block;
                left:0;
                bottom:0;
                width : 100%;
                background: #35c5f0;
                height : 4px;
              }
            }
          }
        }
      }
    }
  }
}