#sub2Detail {
    width: 100%; 
    height: 100%;
    .container{
        width: 100%;
        height: 100%;
        .sub2-img-up{
            width: 100%;
            height: 489px;
            >img{
                width: 100%;
                height: 100%;
            }
        }
        .gap{
            width: 100%;
            max-width: 718px;
            margin: 0 auto;
            position: relative;
            .title{
                padding: 60px 0 30px 0;
                h1{
                    color: #2f3438;
                    font-size: 34px;
                    line-height: 42px;
                    font-weight: 700;
                    word-break: keep-all;
                    overflow-wrap: break-word;
                }
            }
            .nick-box{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .nickname{
                    display: flex;
                    align-items: center;
                    >img{
                        width: 50px;
                        border-radius: 50%;
                    }
                    .name{
                        padding: 0 0 0 20px;
                        h3{
                            color: #2f3438;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 20px;
                            padding: 0 0 6px 0;
                        }
                        >p{
                            color: #656e75;
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                }
                .button{
                    
                    >button{
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        width: 90px;
                        height: 36px;
                        padding: 0 12px;
                        font-weight: 700;
                        color: #fff;
                        font-size: 15px;
                        background: #35c5f0;
                        border-radius: 4px;
                        border: 0;
                        cursor: pointer;
                    }
                }
            }
            .info-box{
                width: 100%;
                padding: 0 24px 25px 24px;
                background: #f7f8fa;
                margin: 60px 0 50px 0;
                .up{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    height: 70px;
                    padding: 15px 0;
                    border-bottom: 1px solid #dadce0;
                    .info{
                        display: flex;
                        align-items: center;
                        >dd{
                            color: #424242;
                            font-size: 14px;
                            line-height: 20px;
                            padding: 0 0 0 8px;
                        }
                    }
                    >i{
                        color: #dadce0;
                    }
                }
                .bottom{
                    display: flex;
                    padding: 20px 0 0 0;
                    flex-flow: row wrap;
                    >div{
                        display: flex;
                        padding: 0 0 8px 0;
                        >dt{
                            color: #828c94;
                            font-size: 14px;
                            padding: 0 6px 0 0;
                            line-height: 20px;
                            letter-spacing: -0.4px;
                        }
                        >dd{
                            color: #292929;
                            font-size: 14px;
                            padding: 0 16px 0 0;
                            line-height: 20px;
                            letter-spacing: -0.4px;
                        }
                    }
                }
            }
            .sub2-img-bottom{
                width: 100%;
                position: relative;
                z-index: 1;
                >img{
                    width: 100%;
                }
                .svg{
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    z-index: 2;
                    border: 0;
                    background: transparent;
                    width: 35px;
                    display: none;
                    >svg{
                       width: 100%;             
                    }
                }
                &:hover{
                    .svg{
                        display: block;
                    }
                }

            }
            .content{
                width: 100%;
                padding: 30px 0 80px 0;
                >p{
                    color: #2f3438;
                    font-size: 16px;
                    line-height: 32px;
                    word-break: keep-all;
                    word-wrap: break-word;
                    letter-spacing: -0.4px;
                }
            }
            .like-btn{
                position: absolute;
                top: 80px;
                right: -300px;
                width: 54px;
                height: 54px; 
                z-index: 10;
                &.on{
                    position: fixed;
                    top: 160px;
                    right: 292.5px;
                    margin: -20px 0 0 0;
                    z-index: 5;
                }          
                .like{
                    width: 54px;
                    height: 54px;
                    margin: 0 0 15px 0;
                    background: #fff;
                    border-radius: 50%;
                    border: 1px solid #dadce0;
                    transition: all 0.3s;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        border: 1px solid #828c94;
                        >svg{
                            stroke:rgba(130, 140, 148,1);
                        }
                    }
                    &.on{
                        >svg{
                            fill:#35c5f0;
                            stroke:#35c5f0;
                        }
                    }
                }
            }
        }
    }
}