#myPageAll {
  width: 100%;
}
#myPageAll .container {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
}
#myPageAll .container .gap {
  width: 100%;
  padding: 30px 0;
  display: flex;
}
#myPageAll .container .gap .left {
  width: 290px;
}
#myPageAll .container .gap .left .profile {
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 4px;
  padding: 30px 25px 18px 25px;
}
#myPageAll .container .gap .left .profile .up-box {
  border-bottom: 1px solid #eaebef;
}
#myPageAll .container .gap .left .profile .up-box .img-box {
  display: flex;
  justify-content: center;
  width: 118px;
  height: 118px;
  margin: 0 auto;
}
#myPageAll .container .gap .left .profile .up-box .img-box img {
  border-radius: 50%;
  width: 120px;
}
#myPageAll .container .gap .left .profile .up-box h2 {
  font-size: 26px;
  color: #292929;
  font-weight: bold;
  text-align: center;
  padding: 15px 0 10px 0;
}
#myPageAll .container .gap .left .profile .up-box > ul {
  display: flex;
  justify-content: center;
}
#myPageAll .container .gap .left .profile .up-box > ul li {
  color: #828c94;
  font-size: 13px;
}
#myPageAll .container .gap .left .profile .up-box > ul li > span {
  color: #525b61;
  font-weight: 600;
}
#myPageAll .container .gap .left .profile .up-box > ul i {
  font-size: 5px;
  font-weight: 300;
  margin: 0 5px;
}
#myPageAll .container .gap .left .profile .up-box .btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
#myPageAll .container .gap .left .profile .up-box .btn button {
  width: 53px;
  height: 30px;
  background: #fff;
  color: #292929;
  border: 1px solid #dbdbdb;
  font-size: 12px;
  border-radius: 4px;
  transition: all 0.3s;
  cursor: pointer;
}
#myPageAll .container .gap .left .profile .up-box .btn button:hover {
  background: #fafafa;
}
#myPageAll .container .gap .left .profile .down-box {
  display: flex;
  justify-content: space-evenly;
  padding: 24px 0 6px 0;
}
#myPageAll .container .gap .left .profile .down-box > li {
  display: flex;
  position: relative;
  z-index: 1;
  flex-flow: column wrap;
  align-items: center;
  cursor: pointer;
}
#myPageAll .container .gap .left .profile .down-box > li svg {
  width: 28px;
  height: 28px;
  color: #424242;
}
#myPageAll .container .gap .left .profile .down-box > li h3 {
  font-size: 13px;
  color: #424242;
  font-weight: 400;
  padding: 10px 0;
}
#myPageAll .container .gap .left .profile .down-box > li h4 {
  font-size: 15px;
  font-weight: bold;
  color: #424242;
  text-align: center;
}
#myPageAll .container .gap .left .profile .down-box > li::before {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  content: "";
  top: 0;
  left: 0;
  transition: all 0.3s;
}
#myPageAll .container .gap .left .profile .down-box > li:hover:before {
  background-color: rgba(255, 255, 255, 0.6);
}
#myPageAll .container .gap .left > button {
  width: 100%;
  height: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #effbff;
  border: 0;
  color: #3f474d;
  border-radius: 4px;
  cursor: pointer;
  margin: 14px 0 0 0;
  transition: all 0.3s;
}
#myPageAll .container .gap .left > button:hover {
  background: #e1f7ff;
}
#myPageAll .container .gap .left > button > span {
  color: #35c5f0;
  font-weight: 600;
  padding: 0 0 0 4px;
}
#myPageAll .container .gap .left > button svg {
  margin: 0 0 0 5px;
}
#myPageAll .container .gap .right {
  width: 750px;
  margin: 0 25px 0 100px;
}
#myPageAll .container .gap .right .row1 {
  width: 100%;
}
#myPageAll .container .gap .right .row1 h2 {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0;
}
#myPageAll .container .gap .right .row1 h2 > span {
  color: #35c5f0;
  padding: 0 0 0 5px;
}
#myPageAll .container .gap .right .row1 .upload-p {
  width: 700px;
  height: 175px;
  border: 1px dashed #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}
#myPageAll .container .gap .right .row1 .upload-p > p {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #757575;
  font-weight: bold;
  transition: all 0.1s;
}
#myPageAll .container .gap .right .row1 .upload-p > p span {
  margin: 0 5px 0 0;
}
#myPageAll .container .gap .right .row1 .upload-p > p:hover {
  color: rgba(117, 117, 117, 0.5);
}
#myPageAll .container .gap .right .row2 {
  width: 100%;
  padding: 30px 0 0 0;
}
#myPageAll .container .gap .right .row2 h2 {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 0;
}
#myPageAll .container .gap .right .row2 h2 > span {
  color: #35c5f0;
  padding: 0 0 0 5px;
}
#myPageAll .container .gap .right .row2 .upload-h {
  width: 700px;
  height: 175px;
  border: 1px dashed #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}
#myPageAll .container .gap .right .row2 .upload-h > p {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #757575;
  font-weight: bold;
  transition: all 0.1s;
}
#myPageAll .container .gap .right .row2 .upload-h > p span {
  margin: 0 5px 0 0;
}
#myPageAll .container .gap .right .row2 .upload-h > p:hover {
  color: rgba(117, 117, 117, 0.5);
}